<form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <header>
    <h1 class="auth-form__heading">Reset Password</h1>
  </header>

  <euc-label class="auth-form__label" labelText="Email">
    <input
      autocomplete="email"
      data-testid="reset-password-email-input"
      formControlName="email"
      type="email"
      placeholder="your@email.com"
    />
  </euc-label>

  <footer class="auth-form__footer">
    <div class="auth-form__links">
      <a routerLink="../register">Register</a>
      <a routerLink="../login">Login</a>
    </div>

    <button
      class="primary auth-form__submit-button"
      type="submit"
      [eucLoading]="isLoading$ | async"
      [disabled]="resetResult$ | async"
      data-testid="reset-password-submit-button"
    >
      Reset Password
    </button>
  </footer>
  <p *ngIf="resetResult$ | async as result">
    {{ result }}
  </p>
</form>
