<form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <header>
    <h1 class="auth-form__heading">Confirm Password Reset</h1>
  </header>

  <euc-label class="auth-form__label" labelText="New Password">
    <input
      autocomplete="new-password"
      formControlName="password"
      placeholder="••••••••"
      data-testid="confirm-reset-password-password-input"
      type="password"
    />
  </euc-label>

  <euc-label class="auth-form__label" labelText="Confirm New Password">
    <input
      autocomplete="new-password"
      formControlName="passwordConfirmation"
      placeholder="••••••••"
      data-testid="confirm-reset-password-password-confirmation-input"
      type="password"
    />
  </euc-label>

  <footer class="auth-form__footer">
    <div class="auth-form__links">
      <a routerLink="../login">Login</a>
    </div>

    <button
      class="primary auth-form__submit-button"
      type="submit"
      [eucLoading]="isLoading$ | async"
      data-testid="confirm-reset-password-submit-button"
    >
      Confirm New Password
    </button>
  </footer>
</form>
